<!DOCTYPE html>
<html lang="en" xmlns:th="htps://ww.thymelef.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
<body>
	 <!-- StartNavbar -->
	 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/">Proyecto System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	 <!-- EndNavbar -->

	<h1>Editar Ciudadano</h1>
		
		<div class="container">
		<div class="row">
			<div class="col-md-6-offset-md-3">
				<div class="card">
					<div class="card-body">
					<!-- <div th:if="${session.msg}">
						<h5 class="text-center text-success" th:text=${session.msg}></h5>
					 	<th:block th:text="${#session.removeAttribute('msg')}"></th:block> -->
					</div>
						<!-- Form -->
					<form th:action="@{/update_domicilio}" method="post">
					<input type="hidden" th:value="${domicilio.IdDomicilio}" name="IdDomicilio">
					  <div class="mb-3">
					    <label for="exampleInputCalle">Nombre de la calle</label>
					    <input type="text" class="form-control" id="exampleInputCalle" placeholder="Enter data" name="calle"
					    th:value="${domicilio.calle}">
					  </div>
					  <div class="mb-3">
					    <label for="exampleInputEdad">Colonia</label>
					    <input type="text" class="form-control" id="exampleInputColonia" placeholder="Enter data" name="colonia"
					    th:value="${domicilio.colonia}">
					  </div>
					  <div class="mb-3">
					    <label for="exampleInputCiudad">Ciudad</label>
					    <input type="text" class="form-control" id="exampleInputCiudad" placeholder="Enter data" name="ciudad"
					    th:value="${domicilio.ciudad}">
					  </div>
					  <button type="submit" class="btn btn-primary">Aceptar</button>
					</form>
					</div>		
				</div>
			</div>
		</div>

 	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>